

/* shared style */
.font-open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2 {
    font-size: 50px;
    font-weight: 900px;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 75%;
    max-width: 1140px;
    /* border: 2px solid salmon; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}