

/* shared style */
.font-open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2 {
    font-size: 50px;
    font-weight: 900px;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading{
    width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}

/* main style */

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 28px 38px, bottom right ;
    padding-top: 50px;
}
nav{
    width: 75%;
    max-width: 1140px;
    /* border: 2px solid salmon; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

/* banner part */
#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

/* banner image setup */
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

/* about part */
#about{
    padding-top: 130px;
}

#about .about-container{
    width: 75%;
    max-width: 1144px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-info h4{
    font-size: 20px;
}


/* skills part */
#skill{
    padding-top: 130px;
}

#skill .skill-container{
    width: 75%;
    max-width: 1144px;
    margin: 0 auto;
}
#skill .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding:  20px;
    /* border: 2px solid rebeccapurple; */
    max-width: 280px;
    box-shadow: 0 6px 50px 0 #00000048;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skill-card p{
    color: #757575;
    font-size: 18px;
    line-height: 28px;
    
}

/* resume part */
#resume{
    padding-top: 130px;
}

#resume .resume-container{
    width: 75%;
    max-width: 1140px;
    margin: 114px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.resume-container .resume-card .card-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-container .resume-card .card-info{
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.resume-container .resume-card .card-text{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 30px;
}

/* footer part */
footer{
    margin-top: 130px;
    padding: 130px 0;
    background-color: #FFF8F3;
}
footer .footer-container{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .media{
    max-width: 562px;
}

.media h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.media p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-container .icon a{
    margin-right: 25px;
}

.footer-container form input[type="text"] , .footer-container form textarea{
    width: 460px;
    padding: 28px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}